@using EP.CrudModalDDD.UI.Mvc.Helpers
@model IEnumerable<EP.CrudModalDDD.Application.ViewModels.CidadeViewModel>

@{
    ViewBag.Title = "Lista de Cidades";
}
<div>
    <h2>Cadastro de Cidades</h2>
</div>
<hr />


<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Cidades", FormMethod.Get))
        {
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    @Html.TextBox("buscar", null, new { @class = "form-control input", @placeholder = "Pesquisar por nome" })
                    <span class="input-group-btn">
                        <button class="btn btn-info btn" type="submit">
                            <small><i class="glyphicon glyphicon-search"></i></small>
                        </button>
                    </span>
                </div>
            </div>
        }
    </div>
    <div class="col-md-8">
        <div>
            <div class="pull-right">
                <a href="@Url.Action("Create", "Cidades")" class="btn btn-primary">
                    <span title="Detalhes" class="glyphicon glyphicon-plus-sign"></span> Nova Cidade
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel panel-default">
    <table class="table table-striped">
        <tr>
            <th>               
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoIbge)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoIbge)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Cidades", new {id = item.Id})" class="btn btn-warning">
                        <span title="Editar" class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="@Url.Action("Details", "Cidades", new {id = item.Id})" class="btn btn-primary">
                        <span title="Detalhes" class="glyphicon glyphicon-search"></span>
                    </a>

                   
                        <a href="@Url.Action("Delete", "Cidades", new {id = item.Id})" class="btn btn-danger">
                            <span title="Excluir" class="glyphicon glyphicon-trash"></span>
                        </a>
                    
                </td>
            </tr>
        }

    </table>
    </div>


<div class="page-nation">
    <ul class="pagination pagination-large">
        <li>
            @{
                if (ViewBag.PageNumber > 1)
                {
                    <a href="@Url.Action("Index", "Cidades", new { buscar = ViewBag.SearchData, pageNumber = ViewBag.PageNumber - 1 })">«</a>
                }
                else
                {
                    <span>«</span>
                }
            }
        </li>

        @{
            var atualPageNumber = ViewBag.PageNumber;
            for (var i = 1; i <= ViewBag.TotalCount; i++)
            {
                <li @(atualPageNumber == i ? "class=active" : "")>
                    <a href="@Url.Action("Index", "Cidades", new {buscar = ViewBag.SearchData, pageNumber = i})">@i</a>
                </li>
            }
        }

        <li>

            @if (ViewBag.PageNumber < ViewBag.TotalCount)
            {
                <a href="@Url.Action("Index", "Cidades", new { buscar = ViewBag.SearchData, pageNumber = ViewBag.PageNumber + 1 })">»</a>
            }
            else
            {
                <span>»</span>
            }

        </li>
    </ul>
</div>